.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.facebook:hover {
  filter: drop-shadow(0 0 0.7em #3b82f6);
}
.linkdin:hover {
  filter: drop-shadow(0 0 0.7em #0ea5e9);
}
.gitlab:hover {
  filter: drop-shadow(0 0 0.7em #f97316);
}
.github:hover {
  filter: drop-shadow(0 0 0.7em #6b7280);
}

.info:hover {
  filter: drop-shadow(0 0 0.7em #db2777);
}

.project:hover {
  filter: drop-shadow(0 0 0.7em #db2777);
}

.bordered-text {
  color: #db2777;
  -webkit-text-fill-color: #1D232B; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #db2777;
}